doctype html
html.html
  head
    title App

    meta(charset='utf-8')

    != styleTags

    script.
      window.__INITIAL_STATE__ = !{JSON.stringify(initialState || {})};

  body.body
    != svgSprite

    div#root!= markup

    if bundles
      each bundle in bundles
        script(src= bundle.file)

    script(src="main.js")
